<!DOCTYPE html>
<html>
    {{- partial "head_megascience.html" . -}}

      <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            {{ with .Site.GetPage "megascience/header" }}{{ .Content }}{{ end }}


            <!-- Main content -->
            <div id="main">

                <!-- Intro -->
                <article id="overview">
                    <h2 class="major">Survey Overview</h2>

                    {{ with .Site.GetPage "megascience/overview" }}{{ .Content }}{{ end }}
                </article>


                <!-- Data releases -->
                    <article id="releases">
                        <h2 class="major">Data releases</h2>

                        {{ with .Site.GetPage "megascience/releases_overview" }}{{ .Content }}{{ end }}
                    </article>


                <!-- Publications -->
                    <article id="publications" class="publications">
                        <h2 class="major">Publications</h2>

                        {{ with .Site.GetPage "megascience/publications" }}{{ .Content }}{{ end }}

                    </article>

                <!-- Team -->
                    <article id="team" class="plain-links two-column">
                        <div class="flex-horizontal">
                            <h2 class="major">Team</h2>
                            <h4><a href="https://sites.google.com/view/jwst-uncover/home">Internal website</a></h4>
                        </div>
                        {{ with .Site.GetPage "megascience/team" }}{{ .Content }}{{ end }}
                    </article>


                <!-- Contact -->
                    <article id="contact">
                        <h2 class="major">Contact</h2>
                            <p>Send us an email at jwstuncover - at - gmail.com !</p>
                    </article>

            
                    
            </div>


                <!-- Footer -->
                {{- partial "footer.html" . -}}


        </div>

        <!-- BG -->
        <div id="bg"></div>

        <!-- Scripts -->
      {{- partial "scripts_bootstrap.html" . -}}
      {{- partial "scripts_html5up.html" . -}}
      {{- partial "scripts_counter.html" . -}}


    </body>
</html>




