
:root {
    --fontweight-navbar-highlight: 600; 
    --link-color: rgb(171, 113, 218); 
    --color-navbar-highlight: rgb(171, 113, 218); 
    --color-link-credit: #acacac; 
  }


#bg:after {
    background-image: url("../../images/MegaScience_A2744_crop.png"); 
    
}

/* SHP */
#header .logo .image.main{    
    /* margin-top: -1rem;
    margin-left: -15.5rem; */
    margin-top: 0rem;
    margin-left: -15rem;
    z-index: 100; 
}

/* SHP */
#header .logo .image.main img{
    max-height: 13rem; 
    width: auto;
}


@media screen and (max-width: 736px) {

    /* SHP */
    #header .logo .image.main {
        margin-top: -0.25rem;
        margin-left: -8rem;
    }


    /* SHP */
    #header .logo .image.main img{
        max-width: 22rem;
        width: auto;
        height:auto;
    }

}